%btn {
    display: inline-block;
    padding: 0.4rem 1.3rem;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    outline: none;
    background: $primary-color;
    box-shadow: 0 1px 0 rgba($color: $secondary-color, $alpha: 0.45);
    transition: .3s;

    &:hover {
       opacity: 0.9;
    }
}

.btn-rounded {
    @extend %btn;
    border-radius: 5px;
}

.btn-xl {
    @extend %btn;
    font-size: 1.8rem;
    padding: 0.8rem 2.1rem;
    text-transform: uppercase;
    border-radius: 0 3px 3px 0;
    width: 100%;
    margin: 0;
    
    i {
        padding-left: 1rem;
    }
}

.btn-lg {
    @extend %btn;
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
    border-radius: 3px;
}


@media(max-width: 1474px) {
    .btn-xl {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
    }
}

@media(max-width: 1150px) {
    .btn-xl {
        font-size: 1.5rem;
        padding: 0.8rem 1.2rem;
    }
}

@media(max-width: 950px) {
    .btn-xl {
        width: fit-content;
        font-size: 1.1rem;
        border-radius: 3px;
    }
}