@media(max-width: 1474px) {
  .contain {
      max-width: 80%;
  }
}

@media(max-width: 1252px) {
    .contain {
        max-width: 85%;
    }

    .showcase-content h1 {
        font-size: 3rem;
        max-width: 37.5rem;
    }
  }

  @media(max-width: 1105px) {
    .contain {
        max-width: 91.5%;
    }

    .showcase-content .join {
        width: 100%;
    }
  }



@media(max-width: 950px) {
    .showcase {
        min-height: 75vh;

        &::after {
            box-shadow: 80px 80px 250px $secondary-color,
                inset -80px -80px 250px $secondary-color;
        }

        &-content {
            .join {
                display: block;
                max-width: 30rem;
                
                input {
                    margin-bottom: 2rem;
                    padding: 1.5rem 1rem;
                }
            }

            p {
                font-size: 1.4rem;
            }
        }
    }

    .hide-sm {
        display: none;
    }

    .footer {
        max-width: 85%;
    }
}

@media(max-width: 700px) {
    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content {
        .tab-2-content-top {
            display: block;
            text-align: center;
        }
    
        .tab-2-content-bottom {
            grid-template-columns: 1fr;
        }
    }
}